# Scraping Tables

[pandas](https://pandas.pydata.org) is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

Scraping tables can be done easy as follows.

Consider this page [GDP wiki](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita)

```Python
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita'

tables = pd.read_html(url)
```

In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita'

tables = pd.read_html(url)

In [3]:
type(tables)

list

In [4]:
len(tables)

6

In [5]:
type(tables[0])

pandas.core.frame.DataFrame

In [7]:
tables[1].head()

  Country/Territory UN Region IMF[4][5]       World Bank[6]        \
  Country/Territory UN Region  Estimate  Year      Estimate  Year
0               NaN       NaN       NaN   NaN           NaN   NaN
1          Monaco *    Europe         —     —        234316  2021
2   Liechtenstein *    Europe         —     —        157755  2020
3      Luxembourg *    Europe    127673  2022        133590  2021
4         Bermuda *  Americas         —     —        114090  2021

  United Nations[7]
           Estimate  Year
0               NaN   NaN
1            234317  2021
2            169260  2021
3            133745  2021
4            112653  2021

In [8]:
data = tables[1]

In [9]:
type(data)

pandas.core.frame.DataFrame

In [10]:
data.dtypes

Country/Territory  Country/Territory    object
UN Region          UN Region            object
IMF[4][5]          Estimate             object
                   Year                 object
World Bank[6]      Estimate             object
                   Year                 object
United Nations[7]  Estimate             object
                   Year                 object
dtype: object

In [13]:
data_list = data.values.tolist()[1:]

In [15]:
data_list[0]

['Monaco\u202f*', 'Europe', '—', '—', '234316', '2021', '234317', '2021']

In [16]:
data_items = []

for item in data_list:
    country = item[0]
    gdp_pc_str = item[-2]
    
    if country.endswith('\u202f*'):
        country = country.replace('\u202f*', '')
        
    if gdp_pc_str == '—':
        gdp_pc = None
    else:
        gdp_pc = int(gdp_pc_str)
        
    data_items.append(
        {
            'country': country,
            'gdp pc': gdp_pc
        }
    )

In [17]:
data_items[0]

{'country': 'Monaco', 'gdp pc': 234317}

In [18]:
for item in data_items:
    print(item['country'], item['gdp pc'])

Monaco 234317
Liechtenstein 169260
Luxembourg 133745
Bermuda 112653
Ireland 101109
Norway 89242
Switzerland 93525
Isle of Man None
Cayman Islands 85250
Qatar 66799
Singapore 66822
United States 69185
Channel Islands None
Iceland 69133
Faroe Islands None
Australia 66916
Denmark 68037
Greenland 58185
Canada 52112
Sweden 60730
Netherlands 57871
Israel 54111
Austria 53840
Finland 53703
Belgium 51166
Hong Kong 49259
British Virgin Islands 49444
Germany 51073
United Arab Emirates 43295
San Marino 50425
United Kingdom 46542
New Zealand 48824
Brunei 31449
France 44229
Andorra 42066
U.S. Virgin Islands None
Puerto Rico 32716
Kuwait 32150
European Union *[n 1] 31875
New Caledonia 34994
Guam None
Taiwan 33011
Japan 39650
Italy 35579
Macau 43555
South Korea 34940
Malta 33642
Bahamas 27478
Aruba 29342
Cyprus 32281
Slovenia 29135
Estonia 27991
Spain 30058
Bahrain 26563
Czech Republic 26809
Saudi Arabia 23186
Sint Maarten (Dutch part) 26199
Portugal 24651
Lithuania 23844
Northern Mariana Islands None
Oman 19509
Iran 6766
Saint Martin (French part) None
Latvia 21267
Turks and Caicos Islands 20909
Greece 20571
Trinidad and Tobago 16033
Slovakia 21390
Seychelles 12085
Uruguay 17313
Barbados 17225
French Polynesia 19915
Cook Islands 19264
Anguilla 19216
Saint Kitts and Nevis 18083
Poland 17736
Hungary 18728
Guyana 9999
Curaçao 14183
Croatia 16983
Antigua and Barbuda 15246
Montserrat 16199
Panama 14618
American Samoa None
Romania 14698
Chile 16265
Maldives 10366
Russia 12259
Argentina 10761
World 12230
Malaysia 11101
Costa Rica 12472
China 12437
Palau 12084
Bulgaria 12207
Turkmenistan 8508
Kazakhstan 10055
Equatorial Guinea 7605
Cuba 11255
Mexico 10046
Saint Lucia 9824
Dominican Republic 8477
Grenada 8950
Gabon 7911
Nauru 12390
Turkey 9661
Montenegro 9252
Serbia 8643
Mauritius 8873
Brazil 7507
Belarus 7121
Saint Vincent and the Grenadines 8440
Dominica 7571
Thailand 7067
Botswana 6805
Peru 6622
Azerbaijan 5296
Bosnia and Herzegovina 7143
North Macedonia 6600
Lebanon 6785
Georgia 4975
South Africa 7055
Iraq 4686
Colombia 6104
Ecuador 5965
Albania 6396
Belize 6229
Libya 5791
Armenia 4967
Tuvalu 5370
Jamaica 5184
Paraguay 6035
Moldova 4468
Fiji 4647
Kosovo 5663
Tonga 4451
El Salvador 4551
Guatemala 4883
Suriname 5259
Ukraine 4596
Marshall Islands 6111
Namibia 4836
Indonesia 4333
Jordan 4058
Mongolia 4510
Egypt 3898
Vietnam 3756
Algeria 3700
Samoa 3919
Micronesia 3573
Eswatini 3969
Morocco 3853
Tunisia 3807
Angola 2258
Djibouti 3348
Bolivia 3345
Cape Verde 3293
Philippines 3461
Bhutan 3063
Palestine 3514
Papua New Guinea 2673
Sri Lanka 3918
Venezuela 3965
Vanuatu 3073
Honduras 2772
Congo 2200
Bangladesh 2450
India 2274
Zimbabwe 1508
Ivory Coast 2539
Nicaragua 2046
Ghana 2409
Mauritania 2166
Nigeria 2019
Kenya 2082
Uzbekistan 2032
Solomon Islands 2306
São Tomé and Príncipe 2486
Laos 2569
East Timor 1517
Cambodia 1608
Kiribati 1765
Haiti 1664
Pakistan 1480
Cameroon 1668
Senegal 1637
Kyrgyzstan 1339
Benin 1361
Zambia 1095
Guinea 1185
Comoros 1631
Nepal 1159
Tanzania 1136
Zanzibar 1211
Lesotho 1040
Uganda 930
Myanmar 1089
Ethiopia 825
Tajikistan 897
Togo 944
Syria 925
Sudan 786
Rwanda 822
Yemen 302
Mali 875
Guinea-Bissau 759
Gambia 772
Burkina Faso 893
Chad 955
Liberia 471
DR Congo 551
North Korea 654
Eritrea 623
Niger 591
Mozambique 492
Somalia 447
Malawi 613
Madagascar 500
Central African Republic 461
Sierra Leone 505
Afghanistan 373
South Sudan 400
Burundi 311